<h1>User Mockup</h1>
<form name="loginForm" ng-submit="login()">
  <h2>Log in</h2>
  <label>Email:
    <input id="username" name="username" ng-model="userName" required/>
  </label>
  <label>Password:
    <input id="password" name="password" ng-model="userPassword" type="password" required/>
  </label>
  <input type="submit" />
</form>
<form method='post' action='/user/register' id='login'>
  <h2>Register</h2>
  <label>Email:
    <input id='username' name='username'>
  </label>
  <label>Password:
    <input id='password' name='password' type='password'/>
  </label>
  <input type='submit' />
</form>
